.App {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*
.btn {
  background: #c2c2c2;
  background-image: -webkit-linear-gradient(top, #c2c2c2, #c7c7c7);
  background-image: -moz-linear-gradient(top, #c2c2c2, #c7c7c7);
  background-image: -ms-linear-gradient(top, #c2c2c2, #c7c7c7);
  background-image: -o-linear-gradient(top, #c2c2c2, #c7c7c7);
  background-image: linear-gradient(to bottom, #c2c2c2, #c7c7c7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}
*/
.userNameForm {
  width: 150px;
  height: 25px;

}

.div {
  padding-bottom: 25px;
}

/*
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
